.listing-page-container {
  max-width: 1000px;
  margin: 20px auto;
  padding-top: 50px;
  border-top: 1px solid #afafaf;
  box-sizing: border-box;
  display: flex;
}
.listing-page-container a {
  text-decoration: none;
}
.listing-page-container .listing-container {
  padding-right: 40px;
}
.listing-page-container .listing-container .side-bar {
  flex: 0 1 25%;
  order: 1;
}
.listing-page-container .listing-container .blog-collection {
  flex: 0 1 75%;
  order: 0;
}
.listing-page-container .listing-container .blog-collection hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.listing-page-container .listing-container .blog-collection .single-blog:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title {
  font-family: Raleway;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title span {
  vertical-align: middle;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title .title-text {
  text-transform: uppercase;
  font-size: 30px;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title .title-text a {
  color: #444;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title .title-topic {
  font-size: 15px;
  margin-left: 15px;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title .title-topic a {
  color: #a3a3a3;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-title .title-topic a:hover {
  color: #333;
}
.listing-page-container .listing-container .blog-collection .single-blog .blog-date-created {
  font-size: 16px;
  font-family: 'Raleway';
}
.listing-page-container .side-nav-container {
  flex: 0 0 225px;
  padding-left: 40px;
}
.listing-page-container .side-nav-container .side-nav ul.calender-container {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
}
.listing-page-container .side-nav-container .side-nav ul.calender-container li.year {
  margin-bottom: 10px;
  list-style-type: none;
}
.listing-page-container .side-nav-container .side-nav ul.calender-container li.year span.year-text {
  font-weight: bold;
}
.listing-page-container .side-nav-container .side-nav ul.calender-container li.year a.month-link div.month {
  margin-left: 20px;
}
.listing-page-container .side-nav-container .side-nav ul.calender-container li.year a.month-link div.month span.month-name {
  font-size: 15px;
}
.main-blog-title {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-top: 75px;
}
.main-blog-title[has-header-image] {
  margin: 0;
  background-size: cover;
  background-position: center;
  height: 791px;
}
.main-blog-title[has-header-image] .blog-title-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}
.main-blog-title[has-header-image] .blog-title-container .title-detail {
  background: rgba(255, 255, 255, 0.85);
  padding: 5px 12px;
  margin: 7px 0;
}
.main-blog-title .blog-title-container .blog-title {
  max-width: 1000px;
  margin: 0 auto;
}
.main-blog-title .blog-title-container .blog-title .title-detail {
  font-family: 'Quicksand';
  color: black;
  display: table;
}
.main-blog-title .blog-title-container .blog-title .title-detail.title-text {
  font-size: 40px;
}
.main-blog-title .blog-title-container .blog-title .title-detail.blog-topic {
  font-size: 16px;
}
.main-blog-title .blog-title-container .blog-title .title-detail.blog-topic a {
  text-decoration: none;
  color: #444;
}
.main-blog-title .blog-title-container .blog-title .title-detail.blog-date-created {
  font-size: 16px;
}
section.images-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section.images-grid .media-object {
  margin: 3px;
}
section.images-grid .media-object.landscape {
  flex: 1.5;
}
section.images-grid .media-object.portrait {
  flex: 0.666;
}
section.images-grid .media-object img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.main-body-container {
  max-width: 1000px;
  margin: 50px auto;
  box-sizing: border-box;
}
.main-body-container .body {
  margin-top: 18px;
}
.not-found-container {
  max-width: 1000px;
  margin: 130px auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Quicksand';
}
.not-found-container .message-icon {
  font-size: 40px;
  color: #ed7a7a;
}
.not-found-container .message-text {
  margin-top: 35px;
  color: #444;
}
.blog-body {
  text-align: justify;
  font-family: Raleway;
  font-size: 16px;
  margin-top: 18px;
  color: #222;
  line-height: 29px;
  text-rendering: optimizeLegibility;
}
