.listing-page-container {
  max-width: 1000px;
  margin: 100px auto 100px;
  box-sizing: border-box;
  display: flex;

  a {
    text-decoration: none;
  }

  .listing-container {
    padding-right: 40px;

    .side-bar {
      flex: 0 1 25%;
      order: 1;
    }

    .blog-collection {
      flex: 0 1 75%;
      order: 0;

      .single-blog {
        margin: 0 0 50px;
        border-bottom: 2px dashed #efefef;
        padding-bottom: 50px;

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: 0;
        }

        .blog-title {
          font-family: Raleway;

          span {
            vertical-align: middle;
          }

          .title-text {
            text-transform: uppercase;
            font-size: 22px;

            a {
              color: #444;
            }
          }

          .title-topic {
            font-size: 15px;
            margin-left: 15px;

            a {
              color: #a3a3a3;

              &:hover {
                color: #333;
              }
            }
          }
        }

        .blog-date-created {
          font-size: 12px;
          font-family: 'Raleway';
        }

        .blog-body {
          text-align: justify;
          font-family: 'Quicksand';
          font-size: 16px;
          margin-top: 18px;
          color: #808080;
        }
      }
    }
  }

  .side-nav-container {
    flex: 0 0 225px;
    padding-left: 40px;

    .side-nav {

      ul.calender-container {
        margin: 0;
        padding: 0;
        font-family: 'Quicksand';

        li.year {
          margin-bottom: 10px;
          list-style-type: none;

          span.year-text {
            font-weight: bold;
          }

          a.month-link {

            div.month {
              margin-left: 20px;

              span.month-name {
                font-size: 15px;
              }

              span.blogs-count {

              }
            }
          }
        }
      }
    }
  }
}



.main-blog-title {
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;

  .blog-title-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;

    .blog-title {
      max-width: 1000px;
      margin: 0 auto;

      .title-detail {
        font-family: 'Quicksand';
        color: black;
        display: table;
        background: rgba(255, 255, 255, 0.85);
        padding: 5px 12px;
        margin: 7px 0;

        &.title-text { font-size: 40px; }

        &.blog-topic {
          font-size: 16px;

          a {
            text-decoration: none;
            color: #444;
          }
        }

        &.blog-date-created {
          font-size: 16px;
        }
      }
    }
  }
}

img {
  &.full-width {
    max-width: 100%;
  }
}

.main-body-container {
  max-width: 1000px;
  margin: 50px auto;
  box-sizing: border-box;

  .body {
    font-size: 18px;
    font-family: 'Quicksand';
    font-weight: 300;
  }

  .blog-comments {

  }
}

.not-found-container {
  max-width: 1000px;
  margin: 130px auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Quicksand';

  .message-icon {
    font-size: 40px;
    color: #ed7a7a;
  }

  .message-text {
    margin-top: 35px;
    color: #444;
  }
}