.nav-header {
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
  background: #f5f5f5;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.nav-header a {
  text-decoration: none;
}
.nav-header .top-image {
  text-align: center;
}
.nav-header .top-nav {
  position: relative;
  display: inline-block;
}
.nav-header .top-nav.search-input-on .nav-item {
  opacity: 0.18;
}
.nav-header .top-nav.search-input-on .nav-item[data-item="search"] {
  opacity: 1;
}
.nav-header .top-nav.search-input-on form.search-input {
  display: block;
}
.nav-header .top-nav .nav-item {
  display: inline-block;
  margin: 0 18px;
  text-align: center;
  font-size: 16px;
}
.nav-header .top-nav .nav-item a {
  color: #606060;
}
.nav-header .top-nav .nav-item[data-item="search"] i {
  font-size: 20px;
  margin-top: 2px;
  color: #3b86d6;
  cursor: pointer;
}
.nav-header .top-nav form.search-input {
  display: none;
  position: absolute;
  left: 0;
  right: 50px;
  top: -4px;
  margin: 0;
}
.nav-header .top-nav form.search-input .form-group {
  margin: 0;
}
.nav-header .top-nav form.search-input .form-group input {
  border: none;
  background: #f5f5f5;
  border-bottom: 3px solid #3b86d6;
  box-shadow: none;
}
