@import 'variables.less';

.nav-header {
  border-bottom: 1px solid #e7e7e7;
  background: #f5f5f5;
  margin: 0 auto;
  position: relative;
  text-align: center;

  a {
    text-decoration: none;
  }

  .top-image {
    text-align: center;

    img {

    }
  }

  .top-nav {
    padding: 20px 0;
    position: relative;
    display: inline-block;

    @media (max-width: @page-width-small) {
      display: none;
    }

    &.search-input-on {
      .nav-item {
        opacity: 0.18;

        &[data-item="search"] {
          opacity: 1;
        }
      }

      form.search-input {
        display: block;
      }
    }

    .nav-item {
      display: inline-block;
      margin: 0 18px;
      text-align: center;
      font-size:16px;

      a {
        color: #606060;
      }

      &[data-item="search"] {
        i {
          font-size: 20px;
          margin-top: 2px;
          color: #3b86d6;
          cursor: pointer;
        }
      }
    }

    form.search-input {
      display: none;
      position: absolute;
      left: 0;
      right: 50px;
      top: -4px;
      margin: 0;

      .form-group {
        margin: 0;

        input {
          border: none;
          background: #f5f5f5;
          border-bottom: 3px solid #3b86d6;
          box-shadow: none;
        }
      }
    }
  }

  .mobile-nav-switch {
    display: none;
    padding: 10px 20px;
    text-align: right;
    font-size: 25px;
    border-bottom: 1px solid #e7e7e7;

    @media (max-width: @page-width-small) {
      display: block;
    }
  }

  .mobile-top-nav {
    display: none;

    @media (max-width: @page-width-small) {
      &.expanded {
        display: block;
      }
    }

    .nav-item {
      padding: 10px 0;

      a {
        color: #606060;
      }
    }
  }

}