.nav-header {
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
  background: #f5f5f5;
}
.nav-header a {
  text-decoration: none;
}
.nav-header .top-image {
  text-align: center;
}
.nav-header .top-nav {
  display: flex;
  justify-content: center;
}
.nav-header .top-nav .nav-item {
  text-align: center;
  min-width: 150px;
  font-size: 16px;
}
.nav-header .top-nav .nav-item a {
  color: #606060;
  font-family: Raleway;
}
