.nav-header {
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
  background: #f5f5f5;
  margin: 0 auto;
  position: relative;
}
.nav-header a {
  text-decoration: none;
}
.nav-header .top-image {
  text-align: center;
}
.nav-header .top-nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}
.nav-header .top-nav.search-input-on .nav-item {
  opacity: 0.18;
}
.nav-header .top-nav.search-input-on .nav-item[data-item="search"] {
  opacity: 1;
}
.nav-header .top-nav.search-input-on form.search-input {
  display: block;
}
.nav-header .top-nav .nav-item {
  text-align: center;
  font-size: 16px;
}
.nav-header .top-nav .nav-item a {
  color: #606060;
  font-family: Raleway;
}
.nav-header .top-nav .nav-item[data-item="search"] i {
  font-size: 20px;
  margin-top: 2px;
  color: #3b86d6;
  cursor: pointer;
}
.nav-header .top-nav form.search-input {
  display: none;
  position: absolute;
  left: 305px;
  right: 100px;
  top: -7px;
  margin: 0;
}
.nav-header .top-nav form.search-input .form-group {
  margin: 0;
}
.nav-header .top-nav form.search-input .form-group input {
  border: none;
  background: #f5f5f5;
  border-bottom: 3px solid #3b86d6;
  box-shadow: none;
}
