@import 'variables.less';

.modal {
  &.view-expanded-image {
    padding: 0 !important;
    overflow: hidden;

    .modal-dialog {
      max-width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: auto 90%;
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 !important;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .modal-content {
        border-radius: 0;
        background: transparent;

        .modal-body {
          padding: 0;
        }
      }

      button[data-dismiss="modal"] {
        float: right;
        margin-top: 20px;
      }
    }
  }
}