body .login-container {
  font-family: 'Quicksand';
}
body .login-container .form {
  position: absolute;
  max-width: 350px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  margin-top: -35px;
}
body .login-container .form input.form-control {
  padding: 5px 8px;
}
body .login-container .form .submit-button-container {
  text-align: center;
}
body .login-container .form .submit-button-container .btn.btn-blue {
  cursor: pointer;
  color: white;
  background: #5b9ade;
  border-color: #5b9ade;
  padding: 4px 10px;
}
body .login-container .form .submit-button-container .btn.btn-blue:hover {
  background: #4180c4;
  border-color: #4180c4;
}
body .login-container .form .submit-button-container .btn.btn-blue.disabled {
  cursor: not-allowed;
}
body .login-container .form .message-container {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  height: 42px;
}
body .login-container .form .message-container.success {
  color: #3f6d3f;
}
body .login-container .form .message-container.error {
  color: #f05a5a;
}
